.wrapper{
    background-color: #E5D549;
    color: black;
}
.test{
  background-color: rgba(0, 128, 100, 0.616);
  color: black;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  text-transform: capitalize;
  text-decoration: underline;
  text-decoration: line-through;
  text-decoration: none;
}
